<ion-view title="Account" id="page12">
  <ion-content padding="true" class="has-header">
    <button id="account-button33" class="button button-positive button-large button-block button-clear icon ion-ios-person"></button>

    <div class="list card" id="mentorSignUp2-card23">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" style="padding:10px 10px">
        <div id="mentorSignUp2-markdown7" class="show-list-numbers-and-dots">
          <h2 style="font-size: 17px;font-weight: bolder;margin: 0px">Justine Henderson</h2>
          <h3 style="font-size: 14px;margin: 0px">Marking, Accounting</h3>
          <p style="color: #dedede;margin: 0px">I work with indiviusal or organization</p>
        </div>
      </div>
    </div>

    <a ui-sref="profile2()" style="border-radius:50px 50px 50px 50px;" class="button button-dark button-block button-outline">EDIT INFO</a>
    <a ui-sref="settings()" style="border-radius:50px 50px 50px 50px;" class="button button-dark button-block button-outline">SETTINGS</a>

    <!-- <div class="list card" id="account-card22">
      <ion-item class="item-icon-left dark" id="account-list-item29" ui-sref="favourites()">
        <i class="icon ion-ios-star"></i>View Favourites</ion-item>
      <ion-item class="item-icon-left dark" id="account-list-item31" ui-sref="settings()">
        <i class="icon ion-ios-settings"></i>Settings</ion-item>
      <ion-item class="item-icon-left dark" id="account-list-item32" ui-sref="profile2()">
        <i class="icon ion-refresh"></i>Update Profile</ion-item>
    </div> -->
  </ion-content>
</ion-view>