<ion-view title="Dashboard" hide-nav-bar="true" id="page11">
  <ion-nav-buttons side="left" scroll="false">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div id="dashboard-button-bar1" class="button-bar">
      <a ui-sref="account()" id="dashboard-button18" class="button button-light button-block button-icon icon-left ion-android-more-horizontal"></a>
      <button id="dashboard-button20" class="button button-light button-block icon ion-android-contacts"></button>
      <button id="dashboard-button19" class="button button-light button-block"></button>
    </div>
    <section id="swing-viewport">
      <ul swing-stack id="swing" swing-options="options">
        <li swing-card swing-on-throwoutleft="throwoutleft(eventName, eventObject)" swing-on-throwoutright="throwoutright(eventName, eventObject)">
          <section>
            <div class="list card" id="dashboard-card21">
              <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
              </div>
            </div>
            <div id="dashboard-container2">
              <h3 id="dashboard-heading24" style="color:#000000;font-weight:400;">Angela Walker</h3>
              <h5 id="dashboard-heading25" style="color:#000000;">Accountant</h5>
            </div>
            <div id="dashboard-markdown10" class="show-list-numbers-and-dots">
              <p style="color:#000000;">I work with individuals or organizations, handling
                <strong>monetary transactions</strong> by recording..</p>
            </div>
          </section>
        </li>
        <li swing-card swing-on-throwoutleft="throwoutleft(eventName, eventObject)" swing-on-throwoutright="throwoutright(eventName, eventObject)">
          <section>
            <div class="list card" id="dashboard-card21">
              <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
              </div>
            </div>
            <div id="dashboard-container2">
              <h3 id="dashboard-heading24" style="color:#000000;font-weight:400;">Aalok Shrestha</h3>
              <h5 id="dashboard-heading25" style="color:#000000;">Programmer</h5>
            </div>
            <div id="dashboard-markdown10" class="show-list-numbers-and-dots">
              <p style="color:#000000;">I work with individuals or organizations, handling
                <strong>monetary transactions</strong> by recording..</p>
            </div>
          </section>
        </li>
        <li swing-card swing-on-throwoutleft="throwoutleft(eventName, eventObject)" swing-on-throwoutright="throwoutright(eventName, eventObject)">
          <section>
            <div class="list card" id="dashboard-card21">
              <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
              </div>
            </div>
            <div id="dashboard-container2">
              <h3 id="dashboard-heading24" style="color:#000000;font-weight:400;">Arnab Gautam</h3>
              <h5 id="dashboard-heading25" style="color:#000000;">Programmer</h5>
            </div>
            <div id="dashboard-markdown10" class="show-list-numbers-and-dots">
              <p style="color:#000000;">I work with individuals or organizations, handling
                <strong>monetary transactions</strong> by recording..</p>
            </div>
          </section>
        </li>
    </ul>
    </section>
    <div id="dashboard-button-bar2" class="button-bar">
      <button id="dashboard-button25" class="button button-assertive button-large button-block button-clear icon ion-android-cancel"></button>
      <!-- <button id="dashboard-button26" class="button button-energized button-large button-block button-clear icon ion-ios-star"></button> -->
      <!-- <button id="dashboard-button32" class="button button-dark button-large button-block button-clear icon ion-ios-email"></button> -->
    </div>
  </ion-content>
</ion-view>