<ion-view title="Favourites" id="page13">
  <ion-content padding="true" class="has-header">
    <ion-list id="favourites-list4">
      <ion-item class="item-avatar" id="favourites-list-item33">
        <h2>Waylon Dalton</h2>
        <p>Accounting</p>
      </ion-item>
      <ion-item class="item-avatar" id="favourites-list-item34">
        <h2>Justine Henderson</h2>
        <p>Marketing</p>
      </ion-item>
      <ion-item class="item-avatar" id="favourites-list-item35">
        <h2>Thalia Cobb</h2>
        <p>Financing</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>