<ion-view title="Mentor DashBoard" hide-nav-bar="true" id="page9">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <button id="mentorDashBoard-button44" class="button button-light button-block button-clear icon ion-android-person"></button>
    <div>
      <img src="img/hLGkSdbVQsa2HKHX49hb_112829-200.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="mentorDashBoard-list6">
      <div class="item item-body" id="mentorDashBoard-list-item-container12">
        <div id="mentorDashBoard-markdown16" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Waylon Dalton</strong>
          </p>
        </div>
        <div id="mentorDashBoard-markdown17" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Accounting</p>
        </div>
      </div>
    </ion-list>
    <div id="mentorDashBoard-button-bar4" class="button-bar">
      <a ui-sref="settings2()" id="mentorDashBoard-button48" class="button button-positive button-block button-clear icon ion-ios-settings-strong"> Settings</a>
      <a ui-sref="profile()" id="mentorDashBoard-button49" class="button button-positive button-block button-clear icon ion-android-refresh"> Edit</a>
    </div>
  </ion-content>
</ion-view>