<ion-view title="Profile" id="page16">
  <ion-content padding="true" class="has-header">
    <h5 id="profile2-heading28" style="color:#000000;">Company Name</h5>
    <form id="profile2-form21" class="list">
      <label class="item item-input" id="profile2-input13">
        <input type="text" placeholder="Crytech">
      </label>
    </form>
    <h5 id="profile2-heading29" style="color:#000000;">Description</h5>
    <form id="profile2-form22" class="list">
      <label class="item item-input" id="profile2-textarea9"><textarea placeholder="We're a gaming company..."></textarea></label>
    </form>
    <h5 id="profile2-heading30" style="color:#000000;">Email</h5>
    <form id="profile2-form25" class="list">
      <label class="item item-input" id="profile2-input17">
        <input type="email" name="email">
      </label>
    </form>
    <h5 id="profile2-heading31" style="color:#000000;">Password</h5>
    <form id="profile2-form26" class="list">
      <label class="item item-input" id="profile2-input18">
        <input type="password" name="password">
      </label>
    </form>
    <h5 id="profile2-heading32" style="color:#000000;">Re-enter password</h5>
    <form id="profile2-form27" class="list">
      <label class="item item-input" id="profile2-input19">
        <input type="password" name="re-password">
      </label>
      <h5 id="profile2-heading33" style="color:#000000;">Edit Expertise</h5>
      <label class="item item-input" id="profile2-search4">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search field">
      </label>
      <div class="spacer" style="width: 300px; height: 9px;"></div>
      <button id="profile2-button36" style="border-radius:50px 50px 50px 50px;" class="button button-dark button-small icon ion-ios-minus"> Accounting</button>
      <a ui-sref="dashboard()" id="profile2-button35" style="border-radius:50px 50px 50px 50px;" class="button button-dark button-block">UPDATE</a>
    </form>
  </ion-content>
</ion-view>