<ion-view title="Settings" id="page17">
  <ion-content padding="true" class="has-header">
    <form id="settings2-form28" class="list">
      <ion-toggle toggle-class="toggle-positive" id="settings2-toggle2">Disable my account</ion-toggle>
    </form>
    <h4 id="settings2-heading35" style="color:#000000;">Contact Us</h4>
    <ion-list id="settings2-list7">
      <ion-item id="settings2-list-item38">Help &amp; Support</ion-item>
    </ion-list>
    <h4 id="settings2-heading36" style="color:#000000;">Legal</h4>
    <ion-list id="settings2-list8">
      <ion-item id="settings2-list-item39">Privacy Policy</ion-item>
      <ion-item id="settings2-list-item40">Terms of Service</ion-item>
      <ion-item id="settings2-list-item41">Licences</ion-item>
    </ion-list>
    <a ui-sref="landing()" id="settings2-button51" style="color:#EC5555;" class="button button-assertive button-block button-outline">Log out</a>
    <button id="settings2-button52" class="button button-assertive button-block button-outline">Delete Account</button>
  </ion-content>
</ion-view>