<ion-view title="Settings" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="settings-form24" class="list">
      <ion-toggle toggle-class="toggle-success" id="settings-toggle1">Disable my account</ion-toggle>
    </form>
    <h4 id="settings-heading21" style="color:#000000;">Contact Us</h4>
    <ion-list id="settings-list1">
      <ion-item id="settings-list-item16">Help &amp; Support</ion-item>
    </ion-list>
    <h4 id="settings-heading22" style="color:#000000;">Legal</h4>
    <ion-list id="settings-list2">
      <ion-item id="settings-list-item20">Privacy Policy</ion-item>
      <ion-item id="settings-list-item21">Terms of Service</ion-item>
      <ion-item id="settings-list-item22">Licences</ion-item>
    </ion-list>
    <p style="text-align: center;padding: 40px 0px 0px 0px;"><img src="img/logo.png" alt="logo" width="50px" /></p>
    <p style="text-align: center;color: #dedede;padding: 0px 0px 30px 0px">Version 1.0</p>
    <a ui-sref="landing()" id="settings-button30" style="color:#EC5555;" class="button button-assertive button-block button-outline">Log out</a>
  </ion-content>
</ion-view>