<ion-view title="Start-up Registration 2" hide-nav-bar="true" id="page7">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="startUpRegistration2-form14" class="list">
      <input type="file" id="file" accept="image/*" capture="camera" style="display: none;/>
      <div class="list card" id="mentorSignUp2-card23">
        <ion-item class="item-icon-left positive" id="mentorSignUp2-list-item11">
          <i class="icon ion-android-add-circle"></i>Add your company logo or <br/>team photo</ion-item>
          <div ng-click="opencamera()" style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
          </div>
          <div class="item item-body" id="mentorSignUp2-list-item-container6">
            <div id="mentorSignUp2-markdown7" class="show-list-numbers-and-dots">
              <p style="margin-top:0px;color:#000000;text-align: center;">Support formats <strong>jpg,jpeg,png</strong></p>
            </div>
          </div>
      </div>
      <h3>Looking for</h3>
      <label class="item item-input" id="startUpRegistration2-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search expertise...">
      </label>
    </form>
    <button id="startUpRegistration2-button21" style="border-radius:50px 50px 50px 50px;" class="button button-dark button-small icon-left ion-android-remove-circle"> Accounting</button>
    <button id="startUpRegistration2-button21" style="border-radius:50px 50px 50px 50px;" class="button button-small icon-left"> Marketing</button>
    <button id="startUpRegistration2-button21" style="border-radius:50px 50px 50px 50px;" class="button button-small icon-left"> Finance</button>
    <button id="startUpRegistration2-button21" style="border-radius:50px 50px 50px 50px;" class="button button-small icon-left"> Cryptocurrency</button>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <a ui-sref="dashboard()" id="startUpRegistration2-button8" class="button button-dark button-block">FINISH REGISTRATION</a>
    <a ui-sref="startUpRegistration()" id="startUpRegistration2-button55" style="font-style:italic;" class="button button-stable button-small button-block button-clear icon ion-ios-arrow-back"> Go Back</a>
  </ion-content>
</ion-view>